<h1>sup</h1>
<table>
     <tr>
       <th>Вопрос</th>
       <th>ID</th>
       <th>Уровень</th>
       <th>Ответ</th>
     </tr>
     <% @history.each do |item| %>
     <tr>
       <td><%= item.question %></td>
       <td><%= item.identifier %></td>
       <td><%= item.level %></td>
       <td><%= item.answer %></td>
     </tr>
     <% end %>
</table>
<div>
  <%= will_paginate @history %>
</div>
